# Dependencies
node_modules/

# Build output
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Angular cache
.angular/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Tests
coverage/
e2e/

# Misc
README.md
.editorconfig
